@using Share.Common;
@using Wms.Helpers;
@using PagedList.Mvc;
@using Wms.Areas.Arrival.Resources;
@model Wms.Areas.Arrival.ViewModels.UnshelvedReference.UnshelvedReferenceViewModel
@{
    ViewBag.Title = Wms.Common.Resources.MenuResource.W_ARR_UnshelvedReference;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Head *@
<div id="div_search" class="head head_white collapse">
    @using (Html.BeginForm("Search", "UnshelvedReference", FormMethod.Post, new { id = "frmSearch" }))
    {
        @Html.AntiForgeryToken()
    <table class="w-search">
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.CenterIdS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.CenterDropDownFor(
                                 model => model.SearchConditions.CenterId
                                 , Wms.Common.Profile.User.UserId
                                 , "", new { @id = "ddlCenterId", tabindex = "1" })
                    </div>
                </div>
            </td>
            <td class="tdtitle">@UnshelvedReferenceResource.InvoiceNo</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.InvoiceNo, new { htmlAttributes = new { @id = "txtInvoiceNo", tabindex = "16" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.ArrivalDateS</td>
            <td>
                <span class="date_input">
                    @Html.EditorFor(model => model.SearchConditions.ArrivalDateFrom, new { htmlAttributes = new { tabindex = "2", @placeholder = "", @class = "startDate flatpickr", @style = "height:30px;" } })
                    <span class="arrow">&nbsp;</span>
                </span>
                &nbsp;-&nbsp;
                <span class="date_input">
                    @Html.EditorFor(model => model.SearchConditions.ArrivalDateTo, new { htmlAttributes = new { tabindex = "3", @placeholder = "", @class = "endDate flatpickr", @style = "height:30px;" } })
                    <span class="arrow">&nbsp;</span>
                </span>
                <span>
                    @Html.ValidationMessageFor(model => model.SearchConditions.ArrivalDateFrom, "", new { })
                    @Html.ValidationMessageFor(model => model.SearchConditions.ArrivalDateTo, "", new { })
                </span>
            </td>
            <td class="tdtitle">@UnshelvedReferenceResource.BoxNoS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.BoxNo, new { htmlAttributes = new { @id = "txtBoxNo", tabindex = "17" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.DivisionCdS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                                 model => model.SearchConditions.DivisionCd,
                                 (IEnumerable<SelectListItem>)ViewBag.DivisionList,
                                 CommonResource.None, new { id = "ddlDivisionCd", tabindex = "4" })
                    </div>
                </div>
            </td>
            <td class="tdtitle">@UnshelvedReferenceResource.ItemIdS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.ItemId, new { htmlAttributes = new { @id = "txtItemId", tabindex = "18" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.BrandIdS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.BrandId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtBrandId", tabindex = "5" } })
                @Html.EditorFor(model => model.SearchConditions.BrandName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtBrandName", tabindex = "6" } })
                <div class="search">
                    <button type="button" id="btnBrandId" class="search_btn" tabindex="7" />
                </div>
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>

            <td class="tdtitle">@UnshelvedReferenceResource.JanS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.Jan, new { htmlAttributes = new { @id = "txtJan", tabindex = "19" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.VendorIdS</td>
            <td colspan="3">
                @Html.EditorFor(model => model.SearchConditions.VendorId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtVendorId", tabindex = "8" } })
                @Html.EditorFor(model => model.SearchConditions.VendorName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtVendorName", tabindex = "9" } })
                <div class="search">
                    <button type="button" id="btnVendor" class="search_btn" tabindex="10" />
                </div>
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.CategoryIdS</td>
            <td colspan="3">
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                                 model => model.SearchConditions.CategoryId1,
                                 (IEnumerable<SelectListItem>)ViewBag.Category1List,
                                 CommonResource.None, new { id = "ddlCategoryId1", tabindex = "11", onchange = "CategoryChange(1)" })
                    </div>
                </div>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                                 model => model.SearchConditions.CategoryId2,
                                 (IEnumerable<SelectListItem>)ViewBag.Category2List,
                                 CommonResource.None, new { id = "ddlCategoryId2", tabindex = "12", disabled = "disabled", onchange = "CategoryChange(2)" })
                    </div>
                </div>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                                 model => model.SearchConditions.CategoryId3,
                                 (IEnumerable<SelectListItem>)ViewBag.Category3List,
                                 CommonResource.None, new { id = "ddlCategoryId3", tabindex = "13", disabled = "disabled", onchange = "CategoryChange(3)" })
                    </div>
                </div>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                                 model => model.SearchConditions.CategoryId4,
                                 (IEnumerable<SelectListItem>)ViewBag.Category4List,
                                 CommonResource.None, new { id = "ddlCategoryId4", tabindex = "14", disabled = "disabled" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@UnshelvedReferenceResource.ItemCodeS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                                 model => model.SearchConditions.ItemCode,
                                 (IEnumerable<SelectListItem>)ViewBag.ItemList,
                                 CommonResource.None, new { id = "ddlItemCode", tabindex = "15" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" class="text-right">
                @Html.ActionLink(FormsResource.BTN_CLEAR, "Index", "UnshelvedReference", new { area = "Arrival" }, new { type = "button", @class = "btn btn-outline-dark", tabindex = "20" })
                <button class="btn btn-outline-dark head-btn" id="btnSearch" tabindex="21" onclick="Search();">@Share.Common.Resources.FormsResource.BTN_SEARCH</button>
            </td>
        </tr>
    </table>
        <input type="hidden" name="page" id="page" value="" />
        <input type="hidden" name="SearchConditions.Page" id="hidPage" value="@Model.SearchConditions.Page" />
        @Html.HiddenFor(model => model.SearchConditions.ArrivalSortKey, new { id = "hidArrivalSortKey" })
        @Html.HiddenFor(model => model.SearchConditions.PackageArrivalSortKey, new { id = "hidPackageArrivalSortKey" })
        @Html.HiddenFor(model => model.SearchConditions.Sort, new { id = "hidSort" })
        @Html.HiddenFor(model => model.SearchConditions.ResultType, new { id = "hidResultType" })
    }
</div>

<div class="message-area">
    @Html.Partial("_InformationMessageContent", TempData[AppConst.SUCCESS] ?? "")
    @Html.Partial("_ErrorMessageContent", TempData[AppConst.ERROR] ?? "")
</div>

@if (Model.Results.UnshelvedReferences != null)
{
    if (Model.Results.UnshelvedReferences.Count() > 0)
    {
    @* Sublbarea *@
    <div class="sublbarea no_border stock_detail_load">
        <div class="sortarea">
            <ul>
                <li>
                    <button type="button" id="btnDownload" class="download">
                        <img src="~/Content/img/download.png" />
                        @FormsResource.BTN_DOWNLOAD
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="sublbarea no_border">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-outline-dark active" id="lblArrival">
                <input type="radio" name="options" id="Arrival" autocomplete="off"> @UnshelvedReferenceResource.BtnArrival
            </label>
            <label class="btn btn-outline-dark" id="lblPackageArrival">
                <input type="radio" name="options" id="PackageArrival" autocomplete="off"> @UnshelvedReferenceResource.BtnPackageArrival
            </label>
        </div>
        <div class="sortarea mainpagearea">
            <ul>
                <li>
                    @FormsResource.DISPLAY_SHORT
                    <div class="sort">
                        @if (Model.SearchConditions.ResultType == ArrivalTypes.Arrival)
                        {
                            <div class="sort_inner">
                                @Html.EnumDropDownListFor(model => model.SearchConditions.ArrivalSortKey, new { Name = "SearchConditions.ArrivalSortKey", @id = "ddlArrivalSortKey", @onchange = "getSortData();" })
                            </div>
                        }
                        else
                        {
                            <div class="sort_inner">
                                @Html.EnumDropDownListFor(model => model.SearchConditions.PackageArrivalSortKey, new { Name = "SearchConditions.PackageArrivalSortKey", @id = "ddlPackageArrivalSortKey", @onchange = "getSortData();" })

                            </div>
                        }
                    </div>
                </li>
                <li>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.EnumDropDownListFor(model => model.SearchConditions.Sort, new { Name = "SearchConditions.Sort", @id = "ddlSort", @onchange = "getSortData();" })
                        </div>
                    </div>
                </li>
                <li class="totalcount">
                    @String.Format(Share.Common.Resources.FormsResource.KENSU, Model.Results.UnshelvedReferences.TotalItemCount.ToString("N0"))
                </li>
            </ul>
            @if (Model.Results.UnshelvedReferences.Count() > 0)
            {
                @Html.PagedListPager(Model.Results.UnshelvedReferences, Page => Url.Action("Search", "UnshelvedReference", new { Page, @class = "btn-outline-dark" }), PagerHelper.Default)
            }
        </div>
    </div>
    <div class="sublbarea no_border stock_detail_head">
        <div class="sortarea">
            <ul>
                <li>
                    @UnshelvedReferenceResource.ItemSkuSum @Html.DisplayFor(model => model.SearchConditions.ItemSkuSum)
                </li>
                <li>
                    @UnshelvedReferenceResource.CaseQtySum @Html.DisplayFor(model => model.SearchConditions.CaseQtySum)
                </li>
                <li>
                    @UnshelvedReferenceResource.StockQtySum @Html.DisplayFor(model => model.SearchConditions.StockQtySum)
                </li>
            </ul>
        </div>
    </div>
    }

    @* Container *@
    <div class="Container">

        @* Content *@
        @if (Model.Results.UnshelvedReferences.Count() == 0)
        {
            <div>
                <p>@Share.Common.Resources.MessagesResource.MSG_NOT_FOUND</p>
            </div>
        }
        else
        {
            <div>
                <div class="tb_scroll" style="height:65vh;">
                    <table class="table table-bordered" id="listData">
                        <thead>
                            <tr>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.No
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.ArrivalDate
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.Brand
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.Vendor
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.InvoiceNo
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.CategopyName1
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.ItemIdName
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.ItemColor
                                </th>
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.ItemSize
                                </th>
                                @if (Model.SearchConditions.ResultType == ArrivalTypes.Arrival)
                                {
                                    <th class="bg-grey align-middle">
                                        @UnshelvedReferenceResource.CaseQty
                                    </th>
                                }
                                else
                                {
                                    <th class="bg-grey align-middle">
                                        @UnshelvedReferenceResource.BoxNo
                                    </th>
                                }
                                <th class="bg-grey align-middle">
                                    @UnshelvedReferenceResource.StockQtys
                                </th>
                                <th class="bg-grey align-middle">
                                    バラ在庫数
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var cModel in Model.Results.UnshelvedReferences.Select((v, i) => new { v, i }))
                            {
                                var key = String.Format("UnshelvedReferences[{0}].", cModel.i);
                                <tr>
                                    <td class="align-middle text-right w_no">
                                        @((cModel.i + 1) + (Model.Results.UnshelvedReferences.PageNumber - 1) * Model.Results.UnshelvedReferences.PageSize)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.ArrivalDate)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.BrandId)<br />
                                        @Html.DisplayFor(modelItem => cModel.v.BrandShortName)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.VendorId)<br />
                                        @Html.DisplayFor(modelItem => cModel.v.VendorName)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.InvoiceNo)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.CategoryName1)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.ItemId)<br />
                                        @Html.DisplayFor(modelItem => cModel.v.ItemName)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.ItemColorId)<br />
                                        @Html.DisplayFor(modelItem => cModel.v.ItemColorName)
                                    </td>
                                    <td class="align-middle">
                                        @Html.DisplayFor(modelItem => cModel.v.ItemSizeId)<br />
                                        @Html.DisplayFor(modelItem => cModel.v.ItemSizeName)
                                    </td>
                                    @if (Model.SearchConditions.ResultType == ArrivalTypes.Arrival)
                                    {
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.CaseQty)
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.BoxNo)
                                        </td>
                                    }
                                    <td class="align-middle text-right">
                                        @Html.DisplayFor(modelItem => cModel.v.StockQty)
                                    </td>
                                    <td class="align-middle text-right">
                                        @Html.DisplayFor(modelItem => cModel.v.BaraQty)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div> }

@*Bottomnav*@

@Html.Partial("~/Areas/Master/Views/Shared/_BrandSearchModal.cshtml", "dialog")
@Html.Partial("~/Areas/Master/Views/Shared/_VendorSearchModal.cshtml")
@** スクリプト *@
@section LayoutScripts{
    <script>
        $("#btnDownload").on("click", function () {
            var urlAction = '@Url.Action("Download", "UnshelvedReference", new { area = "Arrival" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "GET");
            $form.submit();
        });
        /**
        * Country class
        */
        var curentSelectedCnt = 0;
        var curentSelectedCntDiff = 0;
        var UnshelvedReferenceView = {

            /**
             * CONST Object
             */
            CONST: {
                FORM_METHOD: 'formmethod',
                FORM_ACTION: 'formaction',
                POST: 'post',
                FORM: 'form',
                METHOD: 'method',
                ACTION: 'action'
            },

            /**
             * SELECTORS Object
             */
            SELECTORS: {
                chkCheckedInTable: '#listData input[type=checkbox][id$=".CheckedValue"]:checked',
                chkInRow: 'input[type=checkbox][class=check-box]',
                tblRow: '#listData tbody tr',
                rowSelected: '#spnCheckedCounter',
                btnPackageStock: '#btnPackageStock',
                ddlArrivalSortKey: '#ddlArrivalSortKey',
                ddlPackageArrivalSortKey: '#ddlPackageArrivalSortKey',
                chkChecked: ':checkbox:checked',
                form: 'form',
                searchForm: '#frmSearch',
                frmUpdate: 'frmUpdate',
                btnSubmit: 'button[type=submit],input[type=submit]',
                btnBrandId: '#btnBrandId',
                brandId:'#txtBrandId',
                brandName:'#txtBrandName',
                brandSelect: '#brandSelect',
                btnVendor:'#btnVendor',
                vendorId:'#txtVendorId',
                vendorName:'#txtVendorName',
                vendorSelect: '#vendorSelect',
            },

            /**
             * Init data
             */
            init: function () {
                this.registerEvent();
                this.setButtonStatus(0);
                brandSearchModal.init();
                vendorSearchModal.init();
                curentSelectedCnt = $(UnshelvedReferenceView.SELECTORS.chkCheckedInTable).length;
            },

            /**
             * Register event for control
             */
            registerEvent: function () {

                /**
                * Dropdownlist change item
                */
                $(UnshelvedReferenceView.SELECTORS.ddlSort).change(function (val) {
                    $(UnshelvedReferenceView.SELECTORS.btnSearch).click();
                });

                /**
                 * Dropdownlist change item
                 */
                $(UnshelvedReferenceView.SELECTORS.ddlArrivalSortKey).change(function (val) {
                    $(UnshelvedReferenceView.SELECTORS.btnSearch).click();
                });

                /**
                 * Dropdownlist change item
                 */
                $(UnshelvedReferenceView.SELECTORS.ddlPackageArrivalSortKey).change(function (val) {
                    $(UnshelvedReferenceView.SELECTORS.btnSearch).click();
                });

                /**
                * ブランド検索ダイアログの設定
                */
                $(UnshelvedReferenceView.SELECTORS.btnBrandId).on("click", brandSearchModal.open);

                /**
                * 仕入先検索ダイアログの設定
                */
                $(UnshelvedReferenceView.SELECTORS.btnVendor).on("click", vendorSearchModal.open);

                /**
                 *Click button get data Brand
                 */
                $(UnshelvedReferenceView.SELECTORS.brandSelect).on("click", function () {
                    $('#brandSearchResult input[type=radio]:checked').each(function (index, item) {
                        var brandId = $(item).parents("tr").find("td:eq(2)").text().trim();
                        var brandName = $(item).parents("tr").find("td:eq(3)").text().trim();
                        $(UnshelvedReferenceView.SELECTORS.brandId).val(brandId);
                        $(UnshelvedReferenceView.SELECTORS.brandName).val(brandName);
                    })
                });

                /**
                 *Click button get data Vendor
                 */
                $(UnshelvedReferenceView.SELECTORS.vendorSelect).on("click", function () {
                    $('#vendorSearchResult input[type=radio]:checked').each(function (index, item) {
                        var vendorId = $(item).parents("tr").find("td:eq(4)").text().trim();
                        var vendorName = $(item).parents("tr").find("td:eq(5)").text().trim();
                        $(UnshelvedReferenceView.SELECTORS.vendorId).val(vendorId);
                        $(UnshelvedReferenceView.SELECTORS.vendorName).val(vendorName);
                    })
                });
            },

            /**
             * Enable/Disable button Edit
             */
            setButtonStatus: function (difCnt) {
                // Display row is selected
                $(UnshelvedReferenceView.SELECTORS.rowSelected).text(UnshelvedReferenceView.SELECTORS.chkCheckedInTable );
                // Enable/Disable button Edit
                if ($(UnshelvedReferenceView.SELECTORS.rowSelected).text() >= 1) {
                    $(UnshelvedReferenceView.SELECTORS.btnPackageStock).removeAttr('disabled');
                } else {
                    $(UnshelvedReferenceView.SELECTORS.btnPackageStock).attr('disabled', 'disabled');
                }
            },
        }

        /**
        * Page loaded
        */
        $(document).ready(function () {
            UnshelvedReferenceView.init();
            $("#ddlArrivalSortKey").removeClass("input-validation-error");
            if ($("#ddlCategoryId1").val() != '') {
                $("#ddlCategoryId2").removeAttr('disabled');
            }
            $("#ddlPackageArrivalSortKey").removeClass("input-validation-error");
            if ($("#ddlCategoryId1").val() != '') {
                $("#ddlCategoryId2").removeAttr('disabled');
            }
            if ($("#ddlCategoryId2").val() != '') {
                    $("#ddlCategoryId3").removeAttr('disabled');
            }
            if ($("#ddlCategoryId3").val() != '') {
                    $("#ddlCategoryId4").removeAttr('disabled');
            }
            if ('@Model.SearchConditions.ResultType'=='@ArrivalTypes.PackageArrival') {
                $("#lblPackageArrival").addClass("active");
                $("#lblArrival").removeClass("active");
                $("#PackageArrival").prop("checked", true);
                $("#Arrival").prop("checked", false);
            } else {
                $("#lblArrival").addClass("active");
                $("#lblPackageArrival").removeClass("active");
                $("#PackageArrival").prop("checked", false);
                $("#Arrival").prop("checked", true);
            }

            @* Pageを変更時 *@
            $(".mainpagearea .paging>li>a[href]").each(function (i, item) {
                var urlAction ='@Url.Action("Search", "UnshelvedReference", new { area= "Arrival" })';
                var pageUrl = urlAction + '?Page=';
                var page = $(item).attr("href").replace(pageUrl, "");
                page = page.replace("&class=btn-outline-dark", "");
                $(item).attr("href", "javascript:void(0);").click(function () {
                    $("#hidPage").val(page);
                    $("#frmSearch").attr("action", urlAction);
                    $("#frmSearch").attr("method", "POST");
                    $("#frmSearch").submit();
                });
            });
        });

        // Sort
        function getSortData() {

            $("#hidSort").val($("#ddlSort").val());
            $("#hidArrivalSortKey").val($("#ddlArrivalSortKey").val());
            $("#hidPackageArrivalSortKey").val($("#ddlPackageArrivalSortKey").val());

            var $form = $("#frmSearch");
            var urlAction ='@Url.Action("Search", "UnshelvedReference", new { area= "Arrival" })';
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        }
        function GetCategoryList(id) {
            var urlAction = '@Url.Action("GetCategoryList","ItemSku",new { area = "Master"})';
            $.ajax({
                url: urlAction,
                type: "POST",
                data: {
                    id: id + 1,
                    category1: $("#ddlCategoryId1").val(),
                    category2: $("#ddlCategoryId2").val(),
                    category3: $("#ddlCategoryId3").val()
                },
                success: function (data) {
                    $("#ddlCategoryId" + (id + 1)).html("");
                    $("#ddlCategoryId" + (id + 1)).html(data.html);
                }
            });
        }
        function CategoryChange(id) {
            if ($("#ddlCategoryId" + id).val() != '') {
                GetCategoryList(id);
                $("#ddlCategoryId" + (id + 1)).removeAttr('disabled');
                if (id == 1) {
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 2){
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").val('');
                }
            } else {
                if (id == 1) {
                    $("#ddlCategoryId2").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId2").val('');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 2){
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 3){
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").val('');
                }
            }
        }
        function SetCheckValue(lineNo) {
            $('input[type=checkbox][id$="SearchConditions.StockInquirys[' + lineNo + '].CheckedValue"]').each(function (i, item) {
                $(item).trigger('click');
                });
        }
        function Search() {
            $("#hidResultType").val("Arrival");
            $("#hidPage").val(1);
            var urlAction = '@Url.Action("Search", "UnshelvedReference", new { area = "Arrival" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        }
        $("#Arrival").on("click", function () {
            $("#hidResultType").val("Arrival");
            $("#hidPage").val(1);
            var urlAction = '@Url.Action("Search", "UnshelvedReference", new { area = "Arrival" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        });
        $("#PackageArrival").on("click", function () {
            $("#hidResultType").val("PackageArrival");
            $("#hidPage").val(1);
            var urlAction = '@Url.Action("Search", "UnshelvedReference", new { area = "Arrival" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        });
    </script>
}


