@using Wms.Helpers;
@using Share.Common;
@using PagedList.Mvc;
@using Wms.Areas.Move.Resources;
@model Wms.Areas.Move.ViewModels.InputTransfer.InputTransfer01ViewModel
@{
    ViewBag.Title = Wms.Common.Resources.MenuResource.W_MOV_InputTransfer01;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Head *@
@using (Html.BeginForm("Search", "InputTransfer", FormMethod.Post, new { id = "frmSearch" }))
{
    @Html.AntiForgeryToken()
<div id="div_search" class="head head_white collapse">
    <table class="w-search">
        <tr>
            <td class="tdtitle">@InputTransferResource.CenterS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.CenterDropDownFor(
                            model => model.SearchConditions.CenterId
                            , Wms.Common.Profile.User.UserId
                            , "", new { @id = "ddlCenterId", tabindex = "1" })
                    </div>
                </div>
            </td>
            <td class="tdtitle">@InputTransferResource.CategoryS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                        model => model.SearchConditions.CategoryId1,
                        (IEnumerable<SelectListItem>
                            )ViewBag.Category1List,
                            CommonResource.None, new { id = "ddlCategoryId1", tabindex = "16", onchange = "CategoryChange(1)" })
                    </div>
                </div>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                        model => model.SearchConditions.CategoryId2,
                        (IEnumerable<SelectListItem>
                            )ViewBag.Category2List,
                            CommonResource.None, new { id = "ddlCategoryId2", tabindex = "17", disabled = "disabled", onchange = "CategoryChange(2)" })
                    </div>
                </div>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                        model => model.SearchConditions.CategoryId3,
                        (IEnumerable<SelectListItem>
                            )ViewBag.Category3List,
                            CommonResource.None, new { id = "ddlCategoryId3", tabindex = "18", disabled = "disabled", onchange = "CategoryChange(3)" })
                    </div>
                </div>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                        model => model.SearchConditions.CategoryId4,
                        (IEnumerable<SelectListItem>
                            )ViewBag.Category4List,
                            CommonResource.None, new { id = "ddlCategoryId4", tabindex = "19", disabled = "disabled" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@InputTransferResource.MoveClassS</td>
            @*<td>
                    @Html.EnumRadioButtonListFor(model => model.SearchConditions.TransferClass, new { onchange = "TransferClassChange()" })
                </td>*@
            <td>
                <label class="chklist">
                    @Html.CheckBoxFor(model => model.SearchConditions.StoreReturnFlag, new { id = "txtStoreReturnFlag", tabindex = "2", @placeholder = "", @class = "check-box", @onchange = "chgTransferClass();" })
                    <span class="chk_parts">
                    </span>
                </label>
                @InputTransferResource.StoreReturn
                &nbsp;&nbsp;
                <label class="chklist">
                    @Html.CheckBoxFor(model => model.SearchConditions.BaseMoveFlag, new { id = "txtBaseMoveFlag", tabindex = "3", @placeholder = "", @class = "check-box", @onchange = "chgTransferClass();" })
                    <span class="chk_parts">
                    </span>
                </label>
                @InputTransferResource.BaseMove
                &nbsp;&nbsp;
                <label class="chklist">
                    @Html.CheckBoxFor(model => model.SearchConditions.BaseMoveNoWmsCenterFlag, new { id = "txtBaseMoveNoWmsCenterFlag", tabindex = "4", @placeholder = "", @class = "check-box", @onchange = "chgTransferClass();" })
                    <span class="chk_parts">
                    </span>
                </label>
                @InputTransferResource.BaseMoveNoWmsCenter
            </td>
            <td class="tdtitle_large">@InputTransferResource.ItemCodeS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                            model => model.SearchConditions.ItemCode,
                            (IEnumerable<SelectListItem>)ViewBag.ItemList,
                            CommonResource.None, new { id = "ddlItemCode", tabindex = "20" })
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            @*<td class="tdtitle">@InputTransferResource.ArrivePlanDateS</td>
                <td>
                    <div>
                        <label>
                            @Html.RadioButtonFor(model => model.SearchConditions.ArriveDateClass, "ArrivePlanDate", new { tabindex = "30", @class = "radio_input", onChange = "ArriveDateClassChange('ArrivePlanDate')" })
                            <span class="radio_parts"></span>
                        </label>
                        <span class="date_input">
                            @Html.EditorFor(model => model.SearchConditions.ArrivePlanDateFrom, new { htmlAttributes = new { tabindex = "30", @placeholder = "", @class = "startDate flatpickr", @style = "height:30px;" } })
                            <span class="arrow">&nbsp;</span>
                        </span>
                        -
                        <span class="date_input">
                            @Html.EditorFor(model => model.SearchConditions.ArrivePlanDateTo, new { htmlAttributes = new { tabindex = "40", @placeholder = "", @class = "endDate flatpickr", @style = "height:30px;" } })
                            <span class="arrow">&nbsp;</span>
                        </span>
                        <label>
                            @InputTransferResource.NotContainsUnplanned
                        </label>
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.SearchConditions.ArrivePlanDateFrom, "", new { })
                        @Html.ValidationMessageFor(model => model.SearchConditions.ArrivePlanDateTo, "", new { })
                    </div>
                </td>*@
            <td class="tdtitle">@InputTransferResource.DenpyoDateS</td>
            <td>
                <div>
                    <label>
                        @Html.RadioButtonFor(model => model.SearchConditions.ArriveDateClass, "ArrivePlanDate", new { tabindex = "5", @class = "radio_input", onChange = "ArriveDateClassChange('ArrivePlanDate')" })
                        <span class="radio_parts"></span>
                    </label>
                    <span class="date_input">
                        @Html.EditorFor(model => model.SearchConditions.DenpyoDateFrom, new { htmlAttributes = new { tabindex = "6", @placeholder = "", @class = "startDate flatpickr", @style = "height:30px;" } })
                        <span class="arrow">&nbsp;</span>
                    </span>
                    -
                    <span class="date_input">
                        @Html.EditorFor(model => model.SearchConditions.DenpyoDateTo, new { htmlAttributes = new { tabindex = "7", @placeholder = "", @class = "endDate flatpickr", @style = "height:30px;" } })
                        <span class="arrow">&nbsp;</span>
                    </span>
                    <label>
                        @InputTransferResource.NotContainsUnplanned
                    </label>
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.SearchConditions.DenpyoDateFrom, "", new { })
                    @Html.ValidationMessageFor(model => model.SearchConditions.DenpyoDateTo, "", new { })
                </div>
            </td>
            <td class="tdtitle">@InputTransferResource.BrandS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.BrandId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtBrandId", tabindex = "21" } })
                @Html.EditorFor(model => model.SearchConditions.BrandName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtBrandName", tabindex = "22" } })
                <div class="search">
                    <button type="button" id="btnBrand" class="search_btn" tabindex="160" />
                </div>
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@InputTransferResource.TransferResultDateS</td>
            <td>
                <div>
                    <label>
                        @Html.RadioButtonFor(model => model.SearchConditions.ArriveDateClass, "TransferResultDate", new { tabindex = "8", @class = "radio_input", onChange = "ArriveDateClassChange('TransferResultDate')" })
                        <span class="radio_parts"></span>
                    </label>
                    <span class="date_input">
                        @Html.EditorFor(model => model.SearchConditions.TransferResultDateFrom, new { htmlAttributes = new { tabindex = "9", @placeholder = "", @class = "startDate flatpickr", @style = "height:30px;" } })
                        <span class="arrow">&nbsp;</span>
                    </span>
                    -
                    <span class="date_input">
                        @Html.EditorFor(model => model.SearchConditions.TransferResultDateTo, new { htmlAttributes = new { tabindex = "10", @placeholder = "", @class = "endDate flatpickr", @style = "height:30px;" } })
                        <span class="arrow">&nbsp;</span>
                    </span>
                    <label>
                        @InputTransferResource.ContainsUnplanned
                    </label>
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.SearchConditions.TransferResultDateFrom, "", new { })
                    @Html.ValidationMessageFor(model => model.SearchConditions.TransferResultDateTo, "", new { })
                </div>
            </td>
            <td class="tdtitle">@InputTransferResource.ItemIdS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.ItemId, new { htmlAttributes = new { @id = "txtItemId", tabindex = "23" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle_large">@InputTransferResource.TransferFromCenterS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.CenterDropDownFor(
                            model => model.SearchConditions.TransferFromCenterId
                            , Wms.Common.Profile.User.UserId
                            , CommonResource.None, new { @id = "ddlTransferFromCenterId", tabindex = "11" })
                    </div>
                </div>
            </td>
            <td class="tdtitle">@InputTransferResource.ItemColorS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.ItemColorId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtItemColorId", tabindex = "24" } })
                @Html.EditorFor(model => model.SearchConditions.ItemColorName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtItemColorName", tabindex = "25" } })
                <div class="search">
                    <button type="button" id="btnItemColor" class="search_btn" tabindex="200" />
                </div>
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@InputTransferResource.TransferFromStoreS</td>
            <td>
                <button type="button" class="btn btn-outline-dark" id="btnShipTo" tabindex="12" data-toggle="modal" data-flag="" data-target="#SyukkasakiModal" data-id="#txtTransferFromStoreId" data-name="#txtTransferFromStoreName">@InputTransferResource.BtnStoreSelect</button><br />
            </td>
            <td class="tdtitle">@InputTransferResource.ItemSizeS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.ItemSizeId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtItemSizeId", tabindex = "26" } })
                @Html.EditorFor(model => model.SearchConditions.ItemSizeName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtItemSizeName", tabindex = "27" } })
                @*<div class="search">
                        <button type="button" id="btnItemSize" class="search_btn" tabindex="230" />
                    </div>*@
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle"></td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.TransferFromStoreName, new { htmlAttributes = new { @class = "w_50_normal overflow", @id = "txtTransferFromStoreName", tabindex = "13", @readonly = "readonly" } })
                @Html.HiddenFor(model => model.SearchConditions.TransferFromStoreId, new { id = "txtTransferFromStoreId" })
            </td>
            <td class="tdtitle">@InputTransferResource.JanS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.Jan, new { htmlAttributes = new { @id = "txtJan", tabindex = "28" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@InputTransferResource.TransferStatusS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @*状況 実績送信済は表示しない*@
                        @Html.DropDownListFor(
                            model => model.SearchConditions.TransferStatus,
                            (IEnumerable<SelectListItem>)ViewBag.TransferStatusList,
                            CommonResource.None, new { id = "txtTransferStatus", tabindex = "14" })
                    </div>
                </div>
            </td>
            <td class="tdtitle">@InputTransferResource.DenpyoNoS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.DenpyoNo, new { htmlAttributes = new { @id = "txtDenpyoNo", tabindex = "29" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td class="tdtitle">@InputTransferResource.DivisionS</td>
            <td>
                <div class="sort">
                    <div class="sort_inner">
                        @Html.DropDownListFor(
                        model => model.SearchConditions.DivisionId,
                        (IEnumerable<SelectListItem>
                            )ViewBag.DivisionList,
                            CommonResource.None, new { id = "ddlDivisionId", tabindex = "15" })
                    </div>
                </div>
            </td>
            <td class="tdtitle">@InputTransferResource.SlipNoS</td>
            <td>
                @Html.EditorFor(model => model.SearchConditions.SlipNo, new { htmlAttributes = new { @id = "txtSlipNo", tabindex = "30" } })
                @Html.LikeMark(CommonsResource.BeforeLike)
            </td>
        </tr>
        <tr>
            <td colspan="4" class="text-right">
                @Html.ActionLink(FormsResource.BTN_CLEAR, "Index", "InputTransfer", new { area = "Move" }, new { type = "button", @class = "btn btn-outline-dark", tabindex = "31" })
                <button class="btn btn-outline-dark head-btn" id="btnSearch" onclick="Search();" tabindex="32">@Share.Common.Resources.FormsResource.BTN_SEARCH</button>
            </td>
        </tr>
    </table>
    <input type="hidden" name="page" id="page" value="" />
    <input type="hidden" name="SearchConditions.Page" id="hidPage" value="@Model.SearchConditions.Page" />
    <input type="hidden" name="SearchConditions.PageSize" id="hidPageSize" value="@Model.SearchConditions.PageSize" />
    @Html.HiddenFor(model => model.SearchConditions.SortKey, new { id = "hidSortKey" })
    @Html.HiddenFor(model => model.SearchConditions.Sort, new { id = "hidSort" })
    <input type="hidden" name="SearchConditions.Seq" id="hidSeq" value='@Model.SearchConditions.Seq' />
    <input type="hidden" name="SearchConditions.LineNo" id="hidLineNo" value='@Model.SearchConditions.LineNo' />
    @Html.HiddenFor(model => model.SearchConditions.SearchType, new { id = "hidSearchType" })
    @Html.HiddenFor(model => model.SearchConditions.ArriveDateClass, new { id = "hidArriveDateClass" })
    <div style="display:none">
        <table>
            @if (Model.Results.InputTransfer01s != null)
            {
                for (int i = 0; i < Model.Results.InputTransfer01s.Count; i++)
                {
                    var id = String.Format("SearchConditions.InputTransfer01s[{0}].", i);
                    <tr>
                        <td class="template" hidden>
                            @Html.CheckBoxFor(modelItem => Model.Results.InputTransfer01s[i].IsCheck, new { @id = (id + "CheckedValue"), @class = "check-box", Name = id + "IsCheck" })
                            @Html.HiddenFor(modelItem => Model.Results.InputTransfer01s[i].Seq, new { @id = (id + "Seq"), Name = id + "Seq" })
                            @Html.HiddenFor(modelItem => Model.Results.InputTransfer01s[i].LineNo, new { @id = (id + "LineNo"), Name = id + "LineNo" })
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

    <div class="message-area">
        @Html.Partial("_InformationMessageContent", TempData[AppConst.SUCCESS] ?? "")
        @Html.Partial("_ErrorMessageContent", TempData[AppConst.ERROR] ?? "")
    </div>

    if (Model.Results.InputTransfer01s != null && Model.Results.InputTransfer01s.Count() > 0)
    {
        @* Sublbarea *@
        <div class="sublbarea no_border">
            <div class="sortarea mainpagearea">
                <ul>
                    <li>
                        @FormsResource.DISPLAY_SHORT
                        <div class="sort">
                            <div class="sort_inner">
                                @Html.EnumDropDownListFor(model => model.SearchConditions.SortKey, new { Name = "SearchConditions.SortKey", @id = "ddlSortKey", @onchange = "getSortData();" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="sort">
                            <div class="sort_inner">
                                @Html.EnumDropDownListFor(model => model.SearchConditions.Sort, new { Name = "SearchConditions.Sort", @id = "ddlSort", @onchange = "getSortData();" })
                            </div>
                        </div>
                    </li>
                    <li class="totalcount">
                        @String.Format(Share.Common.Resources.FormsResource.KENSU, Model.Results.InputTransfer01s.TotalItemCount.ToString("N0"))
                    </li>
                </ul>
                @if (Model.Results.InputTransfer01s.Count() > 0)
                {
                    @Html.PagedListPager(Model.Results.InputTransfer01s, Page => Url.Action("Search", "InputTransfer", new { Page, @class = "btn-outline-dark" }), PagerHelper.Default)
                }
            </div>
        </div>
        if (Model.Results.InputTransfer01s.Count() > 0)
        {
            <div class="sublbarea no_border stock_detail_head">
                <div class="sortarea">
                    <ul>
                        <li>
                            @InputTransferResource.ItemSkuQtySum @Html.DisplayFor(model => model.SearchConditions.ItemSkuQtySum)
                        </li>
                        <li>
                            @InputTransferResource.ArrivePlanQtySum @Html.DisplayFor(model => model.SearchConditions.ArrivePlanQtySum)
                        </li>
                        <li>
                            @InputTransferResource.ResultQtySum @Html.DisplayFor(model => model.SearchConditions.ResultQtySum)
                        </li>
                        <li>
                            @InputTransferResource.SlipNoPlanQtySum @Html.DisplayFor(model => model.SearchConditions.SlipNoPlanQtySum)
                        </li>
                        <li>
                            @InputTransferResource.SlipNoResultQtySum @Html.DisplayFor(model => model.SearchConditions.SlipNoResultQtySum)
                        </li>
                    </ul>
                </div>
            </div>
        }

    }

    if (Model.Results.InputTransfer01s != null)
    {
        @* Container *@
        <div class="Container">
            @* Content *@
            @if (Model.Results.InputTransfer01s.Count() == 0)
            {
                <div>
                    <p>@Share.Common.Resources.MessagesResource.MSG_NOT_FOUND</p>
                </div>
            }
            else
            {
                <div>
                    <div class="tb_scroll" style="height:70vh;">
                        <table class="table table-bordered" id="listData">
                            <thead>
                                <tr>
                                    <th class="bg-grey align-middle">&nbsp;</th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.No
                                    </th>
                                    @*<th class="bg-grey align-middle">
                                            @InputTransferResource.ArrivePlanDate
                                        </th>*@
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.TransferClass
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.SlipDate
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.TransferFromStore
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.SlipNo
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.BoxNo
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.BrandName
                                    </th>
                                    @*<th class="bg-grey align-middle">
                                            @InputTransferResource.SlipNoPlanQty
                                        </th>
                                        <th class="bg-grey align-middle">
                                            @InputTransferResource.SlipNoResultQty
                                        </th>*@
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.ItemSkuQty
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.ArrivePlanQty
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.ResultQty
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.TransferStatus
                                    </th>
                                    <th class="bg-grey align-middle">
                                        @InputTransferResource.TransferResultDate
                                    </th>
                                    <th hidden>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.Partial("_ConfirmMessageDialog", new Wms.Models.MessageDialog() { Id = "CreateAccept", Message = MessagesResource.QUE_CREATE })
                                @Html.Partial("_ConfirmMessageDialog", new Wms.Models.MessageDialog() { Id = "CreateWorking", Message = MessagesResource.QUE_CREATE_WORKING1 })
                                @foreach (var cModel in Model.Results.InputTransfer01s.Select((v, i) => new { v, i }))
                                {
                                    var key = String.Format("InputTransfer01s[{0}].", cModel.i);
                                    <tr>
                                        <td class="w_checkbox align-middle">
                                            <label class="checkboxgroup">
                                                @Html.CheckBoxFor(modelItem => cModel.v.IsCheck, new { @id = (key + "CheckedValue"), @class = "check-box", onclick = "SetCheckValue(" + @cModel.i + ")" })
                                                <span class="chk_parts"></span>
                                            </label>
                                        </td>
                                        <td class="align-middle text-right w_no">
                                            @((cModel.i + 1) + (Model.Results.InputTransfer01s.PageNumber - 1) * Model.Results.InputTransfer01s.PageSize)
                                        </td>
                                        @*<td class="align-middle">
                                                @Html.DisplayFor(modelItem => cModel.v.ArrivePlanDate)
                                        </td>*@
                                        <td class="align-middle text-left">
                                            @switch (cModel.v.TransferClass)
                                            {
                                                case "1":
                                                    @InputTransferResource.BaseMove
                                                    break;
                                                case "2":
                                                    @InputTransferResource.StoreReturn
                                                    break;
                                                case "3":
                                                    @InputTransferResource.BaseMoveNoWmsCenter
                                                    break;
                                                default:
                                                    break;
                                            }
                                        </td>
                                        <td class="align-middle text-left">
                                            @Html.DisplayFor(modelItem => cModel.v.SlipDate)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.TransferFromStoreId)<br />
                                            @Html.DisplayFor(modelItem => cModel.v.TransferFromStoreName)
                                        </td>
                                        <td class="align-middle text-left">
                                            @Html.DisplayFor(modelItem => cModel.v.SlipNo)
                                        </td>
                                        <td class="align-middle text-left">
                                            @Html.DisplayFor(modelItem => cModel.v.BoxNo)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.BrandId)<br />
                                            @Html.DisplayFor(modelItem => cModel.v.BrandShortName)
                                        </td>
                                        @*<td class="align-middle text-right">
                                                @Html.DisplayFor(modelItem => cModel.v.SlipNoPlanQty)
                                            </td>
                                            <td class="align-middle text-right">
                                                @Html.DisplayFor(modelItem => cModel.v.SlipNoResultQty)
                                            </td>*@
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.ItemSkuQty)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.ArrivePlanQty)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.ResultQty)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.TransferStatusName)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.TransferResultDate)
                                        </td>
                                        <td class="template" hidden>
                                            @Html.HiddenFor(modelItem => cModel.v.ShipperId, new { Name = key + "ShipperId" })
                                            @Html.HiddenFor(modelItem => cModel.v.CenterId, new { Name = key + "CenterId" })
                                            @Html.HiddenFor(modelItem => cModel.v.Seq, new { Name = key + "Seq" })
                                            @Html.HiddenFor(modelItem => cModel.v.LineNo, new { Name = key + "LineNo" })
                                            @Html.HiddenFor(modelItem => cModel.v.SlipDate, new { Name = key + "SlipDate" })
                                            @Html.HiddenFor(modelItem => cModel.v.SlipNo, new { Name = key + "SlipNo" })
                                            @Html.HiddenFor(modelItem => cModel.v.BoxNo, new { Name = key + "BoxNo" })
                                            @Html.HiddenFor(modelItem => cModel.v.BrandId, new { Name = key + "BrandId" })
                                            @Html.HiddenFor(modelItem => cModel.v.TransferClass, new { Name = key + "TransferClass" })
                                            @Html.HiddenFor(modelItem => cModel.v.TransferFromCenterId, new { Name = key + "TransferFromCenterId" })
                                            @Html.HiddenFor(modelItem => cModel.v.TransferFromStoreId, new { Name = key + "TransferFromStoreId" })
                                            @Html.HiddenFor(modelItem => cModel.v.TransferFromStoreName, new { Name = key + "TransferFromStoreName" })
                                            @Html.HiddenFor(modelItem => cModel.v.UnplannedFlag, new { Name = key + "UnplannedFlag" })
                                            @Html.HiddenFor(modelItem => cModel.v.UpdateCount, new { Name = key + "UpdateCount" })
                                            <input type="hidden" id="allowWorkingCreate" name="allowWorkingCreate" value="false" />
                                            <input type="hidden" id="hdCreateError" value="@ViewBag.hasError" errorCode="@ViewBag.ErrorCode">
                                            <input type="hidden" id="hdPrintFlg" value="@ViewBag.PrintFlg">
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    }
                                            }
@*Bottomnav*@
@section Basefooter{
    @Html.Partial("_CheckBoxCounter")
    <div class="btnarea">
        <button type="button" id="btnWorkingCreateHidden" data-toggle="modal" data-target="#confirm_CreateWorking" hidden></button>
        @if (Model.Results.InputTransfer01s != null && Model.Results.InputTransfer01s.Count() > 0)
        {
            <button type="button" id="btnCreateAccept" class="btn btn-dark btnsize _pm" data-toggle="modal" data-target="#confirm_CreateAccept">@InputTransferResource.BtnAccept</button>
            <button type="button" id="btnInput" class="btn btn-dark btnsize _pm">@InputTransferResource.BtnInput</button>
        }
        else
        {
            <button type="button" id="btnCreateAccept" class="btn btn-dark btnsize _pm" data-toggle="modal" data-target="#confirm_CreateAccept" disabled>@InputTransferResource.BtnAccept</button>
            <button type="button" id="btnInput" class="btn btn-dark btnsize _pm" disabled>@InputTransferResource.BtnInput</button>
        }
    </div>
}
@{
    var storeConditions = new ViewDataDictionary { { "ParameterStoreId", Model.SearchConditions.TransferFromStoreId }, { "TempStoreId", Model.SearchConditions.TransferFromStoreId } };
}
@Html.Partial("~/Areas/Master/Views/Shared/_BrandSearchModal.cshtml", "dialog")
@Html.Partial("~/Areas/Master/Views/Shared/_ColorSearchModal.cshtml")
@Html.Partial("~/Areas/Master/Views/Shared/_SizeSearchModal.cshtml")
@Html.Partial("~/Areas/Master/Views/Shared/_SyukkasakiSearchModal.cshtml", storeConditions)
@** スクリプト *@
@section LayoutScripts{
    @Scripts.Render("~/Scripts/My/SyukkasakiSearchModal.js")
<script>
        /**
        * Country class
        */
        var curentSelectedCnt = 0;
        var curentSelectedCntDiff = 0;
        var InputTransferView = {

            /**
             * CONST Object
             */
            CONST: {
                FORM_METHOD: 'formmethod',
                FORM_ACTION: 'formaction',
                POST: 'post',
                FORM: 'form',
                METHOD: 'method',
                ACTION: 'action',
                WORKING: 'WORKING',
                ATTR_ERROR_CODE: 'errorcode'
            },

            /**
             * SELECTORS Object
             */
            SELECTORS: {
                chkInTable: '#listData input[type=checkbox][id$=".CheckedValue"]',
                chkCheckedInTable: '#listData input[type=checkbox][id$=".CheckedValue"]:checked',
                chkInRow: 'input[type=checkbox][class=check-box]',
                tblRow: '#listData tbody tr',
                btnCheckAll: '#rbCheckAll',
                btnUnCheckAll: '#rbUnCheckAll',
                rowSelected: '#spnCheckedCounter',
                btnCreateAccept: '#btnCreateAccept',
                btnWorkingCreateHidden: '#btnWorkingCreateHidden',
                btnInput: '#btnInput',
                btnEdit: '#btnUpdate',
                ddlSortKey: '#ddlSortKey',
                chkChecked: ':checkbox:checked',
                chkLabel: '#listData span.chk_parts',
                form: 'form',
                frmSearch: '#frmSearch',
                btnSubmit: 'button[type=submit],input[type=submit]',
                btnBrand: '#btnBrand',
                brandId:'#txtBrandId',
                brandName:'#txtBrandName',
                brandSelect: '#brandSelect',
                colorSelect: '#colorSelect',
                btnItemColor:'#btnItemColor',
                colorId:'#txtItemColorId',
                colorName:'#txtItemColorName',
                sizeSelect: '#sizeSelect',
                btnItemSize:'#btnItemSize',
                sizeId:'#txtItemSizeId',
                sizeName: '#txtItemSizeName',
                hdCreateError: '#hdCreateError',
                hdAllowWorkingCreate: '#allowWorkingCreate',
                hdPrintFlg: '#hdPrintFlg',
            },

            /**
            * Init data
            */
            init: function () {
                this.registerEvent();
                this.setButtonStatus(0);
                brandSearchModal.init();
                colorSearchModal.init();
                sizeSearchModal.init();
                curentSelectedCnt = $(InputTransferView.SELECTORS.chkCheckedInTable).length;
                this.checkCreateError();
            },

            /**
            * Check error when create record.
            */
            checkCreateError: function () {
                if ($(InputTransferView.SELECTORS.hdCreateError).attr(InputTransferView.CONST.ATTR_ERROR_CODE) === InputTransferView.CONST.WORKING) {
                    $('#btnWorkingCreateHidden').click();
                }
            },

            /**
            * Register event for control
            */
            registerEvent: function () {

                /**
                 * Stop event fired when click to checkbox
                 */
                $(InputTransferView.SELECTORS.chkLabel).click(function (evt) {
                    evt.stopPropagation();
                });

                /**
                 * Check box click
                 */
                $(InputTransferView.SELECTORS.chkInTable).click(function (evt) {
                    evt.stopPropagation();
                    curentSelectedCntDiff = curentSelectedCnt - $(InputTransferView.SELECTORS.chkCheckedInTable).length;
                    InputTransferView.setButtonStatus(curentSelectedCntDiff);
                });

                /**
                * Dropdownlist change item
                */
                $(InputTransferView.SELECTORS.ddlSort).change(function (val) {
                    $(InputTransferView.SELECTORS.btnSearch).click();
                });

                /**
                 * Dropdownlist change item
                 */
                $(InputTransferView.SELECTORS.ddlSortKey).change(function (val) {
                    $(InputTransferView.SELECTORS.btnSearch).click();
                });

                /**
                * ブランド検索ダイアログの設定
                */
                $(InputTransferView.SELECTORS.btnBrand).on("click", brandSearchModal.open);

                /**
                * カラー検索ダイアログの設定
                */
                $(InputTransferView.SELECTORS.btnItemColor).on("click", colorSearchModal.open);

                /**
                * サイズ検索ダイアログの設定
                */
                $(InputTransferView.SELECTORS.btnItemSize).on("click", sizeSearchModal.open);

                /**
                 *Click button get data Brand
                 */
                $(InputTransferView.SELECTORS.brandSelect).on("click", function () {
                    $('#brandSearchResult input[type=radio]:checked').each(function (index, item) {
                        var brandId = $(item).parents("tr").find("td:eq(2)").text().trim();
                        var brandName = $(item).parents("tr").find("td:eq(3)").text().trim();
                        $(InputTransferView.SELECTORS.brandId).val(brandId);
                        $(InputTransferView.SELECTORS.brandName).val(brandName);
                    })
                });

                /**
                 *Click button get data Color
                 */
                $(InputTransferView.SELECTORS.colorSelect).on("click", function () {
                    $('#colorSearchResult input[type=radio]:checked').each(function (index, item) {
                        var colorId = $(item).parents("tr").find("td:eq(2)").text().trim();
                        var colorName = $(item).parents("tr").find("td:eq(3)").text().trim();
                        $(InputTransferView.SELECTORS.colorId).val(colorId);
                        $(InputTransferView.SELECTORS.colorName).val(colorName);
                    })
                });

                /**
                 *Click button get data Size
                 */
                $(InputTransferView.SELECTORS.sizeSelect).on("click", function () {
                    $('#sizeSearchResult input[type=radio]:checked').each(function (index, item) {
                        var sizeId = $(item).parents("tr").find("td:eq(2)").text().trim();
                        var sizeName = $(item).parents("tr").find("td:eq(3)").text().trim();
                        $(InputTransferView.SELECTORS.sizeId).val(sizeId);
                        $(InputTransferView.SELECTORS.sizeName).val(sizeName);
                    })
                });
                 /**
                 * Button check all clicked
                 */
                $(InputTransferView.SELECTORS.btnCheckAll).click(function () {
                    if ($("#listData").length) {
                        $("#hidSearchType").val("SortPage");
                        var urlAction = '@Url.Action("AllSelectedSearch", "InputTransfer", new { area= "Move" })';
                        var $form = $("#frmSearch");
                        $form.attr("action", urlAction);
                        $form.attr("method", "POST");
                        $form.submit();
                    }
                });

                /**
                 * Button UnCheck all clicked
                 */
                $(InputTransferView.SELECTORS.btnUnCheckAll).click(function () {
                    if ($("#listData").length) {
                        $("#hidSearchType").val("SortPage");
                        var urlAction = '@Url.Action("UnSelectedSearch", "InputTransfer", new { area= "Move" })';
                        var $form = $("#frmSearch");
                        $form.attr("action", urlAction);
                        $form.attr("method", "POST");
                        $form.submit();
                    }
                });
            },

            /**
            * Enable/Disable button Edit
            */
            setButtonStatus: function (difCnt) {
                // Display row is selected
                //$(ConfirmActualView.SELECTORS.rowSelected).text($(ConfirmActualView.SELECTORS.chkCheckedInTable).length);
                $(InputTransferView.SELECTORS.rowSelected).text(@Model.SearchConditions.SelectedCnt - difCnt );
            },
        }

        /**
        * Page loaded
        */
        $(document).ready(function () {
            InputTransferView.init();
            $("#ddlPackageSortKey").removeClass("input-validation-error");
            $("#ddlSortKey").removeClass("input-validation-error");
            //var val = $('input:radio[name="SearchConditions.TransferClass"]:checked').val();
            //if (val == 1) {
            //    $("#btnShipTo").attr("disabled","disabled");
            //    $("#ddlTransferFromCenterId").removeAttr("disabled");
            //    $("#txtTransferFromStoreName").val("");
            //    $("#txtTransferFromStoreId").val("");
            //} else {
            //    $("#btnShipTo").removeAttr("disabled");
            //    $("#ddlTransferFromCenterId").attr("disabled","disabled");
            //    $("#ddlTransferFromCenterId").val("");
            //}

            var arriveDateClass = $('#hidArriveDateClass').val();

            if (arriveDateClass == "ArrivePlanDate") {
                $('input:radio[name="SearchConditions.ArrivePlanDate"]').val('checked', true);
                $('input:radio[name="SearchConditions.TransferResultDate"]').val('checked', false);
                $('input[name^="SearchConditions.ArrivePlanDate"]').prop('disabled', false);
                $('input[name^="SearchConditions.TransferResultDate"]').prop('disabled', true);
            } else if (arriveDateClass == "TransferResultDate") {
                $('input:radio[name="SearchConditions.ArrivePlanDate"]').val('checked', false);
                $('input:radio[name="SearchConditions.TransferResultDate"]').val('checked', true);
                $('input[name^="SearchConditions.ArrivePlanDate"]').prop('disabled', true);
                $('input[name^="SearchConditions.TransferResultDate"]').prop('disabled', false);
            }
            chgTransferClass();
            if ($("#ddlCategoryId1").val() != '') {
                $("#ddlCategoryId2").removeAttr('disabled');
            }
            if ($("#ddlCategoryId2").val() != '') {
                    $("#ddlCategoryId3").removeAttr('disabled');
            }
            if ($("#ddlCategoryId3").val() != '') {
                    $("#ddlCategoryId4").removeAttr('disabled');
            }
                @* Pageを変更時 *@
                $(".mainpagearea .paging>li>a[href]").each(function (i, item) {
                    var urlAction ='@Url.Action("Search", "InputTransfer", new { area= "Move" })';
                    var pageUrl = urlAction + '?Page=';
                    var page = $(item).attr("href").replace(pageUrl, "");
                    page = page.replace("&class=btn-outline-dark", "");
                    $(item).attr("href", "javascript:void(0);").click(function () {
                        $("#hidPage").val(page);
                        $("#hidSearchType").val("SortPage");
                        $("#frmSearch").submit();
                    });
                });

            if ('@ViewBag.PrintFlg' != '') {
                location.href = '@ViewBag.PrintFlg';
            }
        });

        //function TransferClassChange() {
        //    var val = $('input:radio[name="SearchConditions.TransferClass"]:checked').val();
        //    if (val == 1) {
        //        $("#btnShipTo").attr("disabled","disabled");
        //        $("#ddlTransferFromCenterId").removeAttr("disabled");
        //        $("#txtTransferFromStoreName").val("");
        //        $("#txtTransferFromStoreId").val("");
        //    } else {
        //        $("#btnShipTo").removeAttr("disabled");
        //        $("#ddlTransferFromCenterId").attr("disabled","disabled");
        //        $("#ddlTransferFromCenterId").val("");
        //    }
        //}

        function ArriveDateClassChange(val) {
            $('#hidArriveDateClass').val(val);

            if (val == "ArrivePlanDate") {
                $('input[name^="SearchConditions.ArrivePlanDate"]').prop('disabled', false);
                $('input[name^="SearchConditions.TransferResultDate"]').prop('disabled', true);
            } else if (val == "TransferResultDate") {
                $('input[name^="SearchConditions.ArrivePlanDate"]').prop('disabled', true);
                $('input[name^="SearchConditions.TransferResultDate"]').prop('disabled', false);
            }
        }

        // Sort
        function getSortData() {

            $("#hidSort").val($("#ddlSort").val());
            $("#hidSortKey").val($("#ddlSortKey").val());
            $("#hidSearchType").val("SortPage");

            var $form = $("#frmSearch");
            var urlAction ='@Url.Action("Search", "InputTransfer", new { area= "Move" })';
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        }
        function GetCategoryList(id) {
            var urlAction = '@Url.Action("GetCategoryList","ItemSku",new { area = "Master"})';
            $.ajax({
                url: urlAction,
                type: "POST",
                data: {
                    id: id + 1,
                    category1: $("#ddlCategoryId1").val(),
                    category2: $("#ddlCategoryId2").val(),
                    category3: $("#ddlCategoryId3").val()
                },
                success: function (data) {
                    $("#ddlCategoryId" + (id + 1)).html("");
                    $("#ddlCategoryId" + (id + 1)).html(data.html);
                }
            });
        }
        function CategoryChange(id) {
            if ($("#ddlCategoryId" + id).val() != '') {
                GetCategoryList(id);
                $("#ddlCategoryId" + (id + 1)).removeAttr('disabled');
                if (id == 1) {
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 2){
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").val('');
                }
            } else {
                if (id == 1) {
                    $("#ddlCategoryId2").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId2").val('');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 2){
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 3){
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").val('');
                }
            }
        }
        function Search() {
            $("#hidSearchType").val("Search");
            var urlAction = '@Url.Action("Search", "InputTransfer", new { area = "Move" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        }
        $('#CreateAccept').on("click", function () {
            $("#hidSearchType").val("Search");
            var urlAction ='@Url.Action("CreateAcceptSearch", "InputTransfer", new { area= "Move" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        });
        $('#CreateWorking').on("click", function () {
            $(InputTransferView.SELECTORS.hdAllowWorkingCreate).val('true');
            var urlAction = '@Url.Action("CreateAcceptSearch", "InputTransfer", new { area = "Move" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        });
        $('#btnInput').on("click", function () {
            var urlAction ='@Url.Action("InputIndexSearch", "InputTransfer", new { area= "Move" })';
            var $form = $("#frmSearch");
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        });
        function SetCheckValue(lineNo) {
            $('input[type=checkbox][id$="SearchConditions.InputTransfer01s[' + lineNo + '].CheckedValue"]').each(function (i, item) {
                $(item).trigger('click');
            });
        }
        //移動区分変更時
        function chgTransferClass() {
            if ($("#txtStoreReturnFlag").prop("checked") == true || $("#txtBaseMoveNoWmsCenterFlag").prop("checked") == true) {
                $("#btnShipTo").removeAttr('disabled');
                $("#txtTransferFromStoreName").removeAttr('disabled');
            } else {
                $("#btnShipTo").attr('disabled', 'disabled');
                $("#txtTransferFromStoreName").val("");
                $("#txtTransferFromStoreId").val("");
                $("#txtTransferFromStoreName").attr('disabled', 'disabled');
            }
            if ($("#txtBaseMoveFlag").prop("checked") == true) {
                $("#ddlTransferFromCenterId").removeAttr('disabled');
            } else {
                $("#ddlTransferFromCenterId").val("");
                $("#ddlTransferFromCenterId").attr('disabled', 'disabled');
            }
        }
</script>
}