@using Wms.Resources;
@model Wms.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = LoginResource.LBL_CHANGEPASSWORD;
    Layout = "~/Views/Shared/_Base.cshtml";
}

  @using (Html.BeginForm("ChangedPassword", "Login", FormMethod.Post, new { id = "formLogin" }))
 {
    <div class="container div-login">

        @Html.HiddenFor(model => Model.ShipperId)
        @Html.HiddenFor(model => Model.CenterId)
        @Html.HiddenFor(model => Model.UserId)
        @Html.HiddenFor(model => Model.PasswordHash)
        @Html.HiddenFor(model => Model.MinLength)
        @Html.AntiForgeryToken()
        <div class="col-md-5 m-auto shadow" style="padding:4rem;">
            <div class="row mb-3">
                <img class="logo" src="~/Content/img/logo.gif" />
            </div>
            <div class="row mb-3">
                @Html.TextBoxFor(model => model.CurrentPassword, new { placeholder = @LoginResource.PLH_CURRENT_PASSWORD, @class = "w100", @type = "password", tabindex = "1" })
                @Html.ValidationMessageFor(model => model.CurrentPassword)
            </div>

            <div class="row mb-3">
                @Html.TextBoxFor(model => model.NewPassword, new { placeholder = @LoginResource.PLH_NEW_PASSWORD, @class = "w100", @type = "password", tabindex = "2" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>

            <div class="row mb-3">
                @Html.TextBoxFor(model => model.NewConfirmPassword, new { placeholder = @LoginResource.PLH_NEW_PASSWORD_CONFIRM, @class = "w100", @type = "password", tabindex = "3" })
                @Html.ValidationMessageFor(model => model.NewConfirmPassword)

            </div>

            @*Error*@
            <div class="row">
                <div class="err_messge_plan" id="spMessage">@ViewBag.ChangePasswordMessage</div>
                <div class="err_messge_plan" id="errorRequiredWord">@ViewBag.ErrorPasswordRequiredWord</div>
                <div class="err_messge_plan" id="errorNGWord">@ViewBag.ErrorPasswordNGWord</div>
                <span class="messge_plan">@ViewBag.PasswordPolicyAlphanumeric</span>
                <div class="messge_plan">@ViewBag.PasswordPolicyUserId</div>
                <div class="messge_plan">@ViewBag.PasswordPolicyMinByte</div>
            </div>

            <div class="row col-md-6 mb-3 m-auto">
                <button type="submit" id="btnLogin" class="btn btn-dark btn-block" tabindex="5">@LoginResource.BTN_CONFIRM</button>
                <input type="hidden" value="@ViewBag.ChangePasswordStatus" id="hdfChangePasswordStatus" />
            </div>
        </div>

    </div>


    }
@section BaseChildScripts{
    <script>
        $(document).ready(function () {

            $("#btnLogin").click(function () {
                if (!$("#formLogin").valid()) {
                    focusFirstError();
                    return false;
                }
            });

        });
    </script>
}
