@using Share.Common;
@using PagedList.Mvc;
@using Wms.Areas.Master.Resources;
@model Wms.Areas.Master.ViewModels.General.Index
@{
    ViewBag.Title = Wms.Common.Resources.MenuResource.W_MAS_General01;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Head *@
    <div id="div_search" class="head head_white collapse">
        @using (Html.BeginForm("Search", "General", FormMethod.Get, new { id = "frmSearch" }))
        {
            <table>
                <tr>
                    <td>@GeneralResource.CenterIdSearch</td>
                    <td>
                        <div class="sort">
                            <div class="sort_inner">
                                @Html.DropDownListFor(model => model.SearchConditions.CenterId, (IEnumerable<SelectListItem>)ViewBag.Loc, "", new { id = "ddlSearchLoc", @class = "_pm" })
                                @Html.HiddenFor(model => model.SearchConditions.CenterId, new { id = "CenterIdHidden" })
                            </div>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>@GeneralResource.GenDivCdSearch</td>
                    <td>
                        <div class="sort">
                            <div class="sort_inner">
                                @Html.DropDownListFor(model => model.SearchConditions.GenDivCd, (IEnumerable<SelectListItem>)ViewBag.Gen, "", new { id = "ddlSearchGen", onchange = "GetCenterList()" })
                            </div>
                        </div>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                    </td>
                    <td>
                        @Html.ActionLink(FormsResource.BTN_CLEAR, "Index", "General", new { area = "Master" }, new { type = "button", @class = "btn btn-outline-dark" })
                        <button class="btn btn-outline-dark" id="btnSearch" tabindex="4" onclick="$('#frmSearch').submit()">@Share.Common.Resources.FormsResource.BTN_SEARCH</button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="page" id="page" value="" />
            @Html.HiddenFor(model => model.SearchConditions.SortKey, new { id = "hidSortKey" })
            @Html.HiddenFor(model => model.SearchConditions.Sort, new { id = "hidSort" })
            @Html.HiddenFor(model => model.SearchConditions.SearchFlag, new { id = "hidSearchFlag"})
        }
    </div>

<div class="message-area">
    @Html.Partial("_InformationMessageContent", TempData[AppConst.SUCCESS] ?? "")
    @Html.Partial("_ErrorMessageContent", TempData[AppConst.ERROR] ?? "")
</div>

@if (Model.GeneralResult.Generals != null)
{
@* Sublbarea *@
<div class="sublbarea">
    <div class="sortarea">
        <ul>
            @*<li>
                    @FormsResource.DISPLAY_SHORT
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.EnumDropDownListFor(model => model.SearchConditions.SortKey, new { Name = "SearchConditions.SortKey", @id = "ddlSortKey", @onchange = "getSortData();" })
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.EnumDropDownListFor(model => model.SearchConditions.Sort, new { Name = "SearchConditions.Sort", @id = "ddlSort", @onchange = "getSortData();" })
                        </div>
                    </div>
                </li>*@
            <li class="totalcount">
                @String.Format(Share.Common.Resources.FormsResource.KENSU, Model.GeneralResult.Generals.TotalItemCount.ToString("N0"))
            </li>
        </ul>
        @if (Model.GeneralResult.Generals.Count() > 0)
            {
        @Html.PagedListPager(Model.GeneralResult.Generals, Page => Url.Action("Search", "General", new { Page , @class = "btn-outline-dark" }), PagerHelper.Default)
            }
    </div>
</div>

@* Container *@
<div class="Container">

    @* Content *@
    @if (Model.GeneralResult.Generals.Count() == 0)
        {
    <div>
        <p>@Share.Common.Resources.MessagesResource.MSG_NOT_FOUND</p>
    </div>
        }
        else
        {
    <div>
        <div class="tb_scroll" style="height:71vh;">
            @using (Html.BeginForm("Edit", "General", FormMethod.Post, new { id = "frmUpdate" }))
            {
                <table class="table table-bordered" id="listData">
                    <thead>
                        <tr>
                            <th class="bg-grey">&nbsp;</th>
                            <th class="bg-grey">
                                @GeneralResource.No
                            </th>
                            <th class="bg-grey">
                                @GeneralResource.CenterId
                            </th>
                            <th class="bg-grey">
                                @GeneralResource.GenDivCd
                            </th>
                            <th class="bg-grey">
                                @GeneralResource.GenCd
                            </th>
                            <th class="bg-grey">
                                @GeneralResource.GenName
                            </th>
                            <th class="bg-grey">
                                @GeneralResource.OrderNo
                            </th>
                            <th hidden>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.AntiForgeryToken()
                        @Html.Partial("_DeleteConfirmMessageDialog", @MessagesResource.QUE_DELETE)
                        @foreach (var cModel in Model.GeneralResult.Generals.Select((v, i) => new { v, i }))
                        {
                        var key = String.Format("General[{0}].", cModel.i);
                        <tr>
                            <td class="w_checkbox align-middle">
                                <label class="checkboxgroup">
                                    @Html.CheckBox(key + "IsCheck", new { @id = (key + "CheckedValue"), @class = "check-box" })
                                    <span class="chk_parts"></span>
                                </label>
                            </td>
                            <td class="align-middle text-right w_no">
                                @((cModel.i + 1) + (Model.GeneralResult.Generals.PageNumber - 1) * Model.GeneralResult.Generals.PageSize)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => cModel.v.CenterName)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => cModel.v.GenDivName)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => cModel.v.GenCd)
                            </td>
                            <td class="align-middle">
                                @Html.DisplayFor(modelItem => cModel.v.GenName)
                            </td>
                            <td class="text-right align-middle">
                                @Html.DisplayFor(modelItem => cModel.v.OrderNo)
                            </td>
                            <td class="template" hidden>
                                @Html.HiddenFor(modelItem => cModel.v.CenterId, new { Name = key + "CenterId" })
                                @Html.HiddenFor(modelItem => cModel.v.RegisterDiviCd, new { Name = key + "RegisterDiviCd" })
                                @Html.HiddenFor(modelItem => cModel.v.GenDivCd, new { Name = key + "GenDivCd" })
                                @Html.HiddenFor(modelItem => cModel.v.GenCd, new { Name = key + "GenCd" })
                                @Html.HiddenFor(modelItem => cModel.v.UpdateCount, new { Name = key + "UpdateCount" })
                                @Html.HiddenFor(modelItem => cModel.v.ShipperId, new { Name = key + "ShipperId" })
                                @Html.HiddenFor(modelItem => cModel.v.Rid, new { Name = key + "Rid", @id = key + "Rid", @class = "rowid" })
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <input id="hiddata" type="hidden" name="rowid" />
            }
        </div>
    </div>
        }
</div> }

@*Bottomnav*@
@section Basefooter{
    @Html.Partial("_CheckBoxCounter")
    <div class="btnarea">
        <button type="submit" id="btnInsert" class="btn btn-outline-dark btnsize _pm" form="frmSearch" formmethod="post" formaction=@Url.Action("Insert", "General", new { area = "Master", controller = "General", action = "Insert" })>@FormsResource.BTN_NEW</button>
        <button id="btnDeleteHidden" type="button" class="btn btn-outline-danger btnsize _pm" data-toggle="modal" data-target="#delconfirm" hidden>@FormsResource.BTN_DELETE</button>
        <button type="submit" id="btnDelete" class="btn btn-outline-danger btnsize _pm">@FormsResource.BTN_DELETE</button>
        <button type="submit" id="btnUpdate" class="btn btn-dark btnsize" form="frmUpdate" formmethod="post" formaction=@Url.Action("Edit", "General", new { area = "Master", controller = "General", action = "Edit" })>@FormsResource.BTN_DETAIL</button>
    </div>
}
@** スクリプト *@
@section LayoutScripts{
    <script>
    /**
     * Country class
     */
    var GeneralView = {

        /**
         * CONST Object
         */
        CONST: {
            FORM_METHOD: 'formmethod',
            FORM_ACTION: 'formaction',
            POST: 'post',
            FORM: 'form',
            METHOD: 'method',
            ACTION: 'action'
        },

        /**
         * SELECTORS Object
         */
        SELECTORS: {
            chkInTable: '#listData input[type=checkbox][id$=".CheckedValue"]',
            chkCheckedInTable: '#listData input[type=checkbox][id$=".CheckedValue"]:checked',
            chkInRow: 'input[type=checkbox][class=check-box]',
            tblRow: '#listData tbody tr',
            btnCheckAll: '#rbCheckAll',
            btnUnCheckAll: '#rbUnCheckAll',
            rowSelected: '#spnCheckedCounter',
            chkChecked: ':checkbox:checked',
            chkLabel: '#listData span.chk_parts',
            form: 'form',
            searchForm: '#frmSearch',
            frmUpdate: 'frmUpdate',
            btnSearch: '#btnSearch',
            btnDelete: '#btnDelete',
            btnUpdate: '#btnUpdate',
            btnSubmit: 'button[type=submit],input[type=submit]'
        },

        /**
            * Init data
            */
        init: function () {
            this.registerEvent();
            this.setCheckboxs();
            this.setButtonStatus();

            if ($("#ddlSearchLoc").val() == "@@@@@@" || $("#ddlSearchLoc").val() == "") {
                $("#ddlSearchLoc").attr('disabled', 'disabled');
            }
        },

        /**
        * Register event for control
        */
        registerEvent: function () {

            /**
            * Stop event fired when click to checkbox
            */
            $(GeneralView.SELECTORS.chkLabel).click(function (evt) {
                evt.stopPropagation();
            });

            /**
            * Check box click
            */
            $(GeneralView.SELECTORS.chkInTable).click(function (evt) {
                evt.stopPropagation();
                GeneralView.setButtonStatus();
            });

            /**
            * Button check all clicked
            */
            $(GeneralView.SELECTORS.btnCheckAll).click(function () {
                if ($("#listData").length) {
                    $(GeneralView.SELECTORS.chkInTable).prop('checked', true);
                    GeneralView.setRowidsFlag(true);
                }
            });

            /**
            * Button UnCheck all clicked
            */
            $(GeneralView.SELECTORS.btnUnCheckAll).click(function () {
                if ($("#listData").length) {
                    $(GeneralView.SELECTORS.chkInTable).prop('checked', false);
                    GeneralView.setRowidsFlag(false);
                }
            });

            $(GeneralView.SELECTORS.btnSearch).click(function () {
                GeneralView.setStorageInit();
                $("#hidSearchFlag").val(true);
            });

            $(GeneralView.SELECTORS.btnUpdate).click(function () {
                var list = GeneralView.getCheckList();
                $("#hiddata").val(list[0]);
                var urlAction = '@Url.Action("Edit", "General", new { area= "Master" })';
                $("#frmUpdate").attr("action", urlAction);
                $("#frmUpdate").attr("method", "POST");
                $("#frmUpdate").submit();
            //    GeneralView.setStorageInit();
            });

            $(GeneralView.SELECTORS.btnDelete).click(function () {
                var list = GeneralView.getCheckList();
                //GeneralView.setStorageInit();
                $("#hiddata").val(JSON.stringify(list));

                var urlAction = '@Url.Action("Delete", "General", new { area= "Master" })';
                $("#frmUpdate").attr("action", urlAction);
                $('#btnDeleteHidden').click();
            });
        },

        /**
            * Enable/Disable button Edit
            */
        setButtonStatus: function () {
            GeneralView.setCheckboxs('set')
        },

        // save page
        setRowidsFlag: function (flag) {
            var storage = window.localStorage;
            var rowids = storage.getItem('PKeys');
            if (rowids != null) {
                var jrid = JSON.parse(rowids);
                $.each(jrid, function (key) {
                    jrid[key] = flag;
                });
                storage.setItem('PKeys', JSON.stringify(jrid));
            }
            GeneralView.setButtonStatus();
        },

        setCheckboxs: function (flag) {
            var storage = window.localStorage;
            var rowids = storage.getItem('PKeys');
            if (rowids != null) {
                var cnt = 0;
                var jrid = JSON.parse(rowids);
                var checkboxs = $("#listData input[type=checkbox]")
                checkboxs.each(function () {
                    var row = $(this).parent().parent().parent();
                    var rowid = row.find(".rowid").val();

                    if (flag == 'set') {
                        jrid[rowid] = $(this).is(':checked');
                    }
                    else {
                        if (jrid[rowid]) {
                            $(this).prop("checked", true);
                        }
                    }
                });

                if (flag == 'set') {
                    storage.setItem('PKeys', JSON.stringify(jrid));
                }

                $.each(jrid, function (key, value) {
                    if (value) {
                        cnt++;
                    }
                });

                $(GeneralView.SELECTORS.btnDelete).attr('disabled', 'disabled');
                $(GeneralView.SELECTORS.btnUpdate).attr('disabled', 'disabled');

                if ($('#frmUpdate').length > 0) {
                    if (cnt > 0) {
                        if (getUsable_Class() == 3) {
                            $(GeneralView.SELECTORS.btnDelete).removeAttr('disabled');
                        }
                        if (cnt == 1) {
                            $(GeneralView.SELECTORS.btnUpdate).removeAttr('disabled');
                        }
                    }

                    $(GeneralView.SELECTORS.rowSelected).text(cnt);
                }
            }

        },

        setStorageInit: function () {
            if (window.localStorage) {

                var storage = window.localStorage;
                storage.removeItem('PKeys');
                var data = {
                    'SearchConditions.CenterId': $("#ddlSearchLoc").val(),
                    'SearchConditions.GenDivCd': $("#ddlSearchGen").val(),
                };

                $.ajax({
                    type: "post",
                    url: "@Url.Action("GetPKeys", "General", new { area = "Master" })",
                    data: data,
                    async: false,
                    success: function (data) {
                        var rowids = {};
                        $.each(data, function (n, value) {
                            rowids[value] = false;
                        });

                        var storage = window.localStorage;
                        storage.setItem('PKeys', JSON.stringify(rowids));

                    }
                });
            }
        },

        getCheckList: function () {
            var list = [];
            var storage = window.localStorage;
            rowids = storage.getItem('PKeys');
            if (rowids != null) {

                var jrid = JSON.parse(rowids);
                $.each(jrid, function (key) {
                    if (jrid[key]) {
                        list.push(key);
                    }
                });
            }
            return list;
        },
        }

        /**
         * * Page loaded
         * */

    $(document).ready(function () {
        if ('@TempData[AppConst.SUCCESS]' != '') {
            GeneralView.setStorageInit();
        }
        GeneralView.init();
    });

        // Sort
        function getSortData() {

            $("#hidSort").val($("#ddlSort").val());
            $("#hidSortKey").val($("#ddlSortKey").val());

            var $form = $("#frmSearch");
            var urlAction = '@Url.Action("Search", "General", new { area= "Master" })';
            $form.attr("action", urlAction);
            $form.attr("method", "GET");
            $form.submit();
        }

        function GetCenterList() {
            if ($("#ddlSearchGen").val() != "" && getUsable_Class() != 1) {
                $("#ddlSearchLoc").removeAttr('disabled');
            } else {
                $("#ddlSearchLoc").attr('disabled', 'disabled');
            }

            var urlAction = '@Url.Action("GetCenterList","General",new { area = "Master"})';
            $.ajax({
                url: urlAction,
                type: "POST",
                data: {
                    genDivCd: $("#ddlSearchGen").val()
                },
                success: function (data) {
                    $("#ddlSearchLoc").html("");
                    $("#ddlSearchLoc").html(data.html);
                    $("#ddlSearchLoc").val(data.value);
                    if ($("#ddlSearchLoc").val() == "@@@@@@") {
                        $("#ddlSearchLoc").attr('disabled', 'disabled');
                    }
                    $("#CenterIdHidden").val(data.value);
                }
            });
        }

    </script>
}