@using Wms.Helpers;
@using Share.Common;
@using PagedList.Mvc;
@using Wms.Areas.Arrival.Resources;
@model Wms.Areas.Arrival.ViewModels.InputPurchase.InputPurchase01ViewModel
@{
    ViewBag.Title = Wms.Common.Resources.MenuResource.W_ARR_InputPurchase01;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* Head *@
<div id="div_search" class="head head_white collapse">
    @using (Html.BeginForm("Search", "InputPurchase", FormMethod.Post, new { id = "frmSearch" }))
    {
        @Html.AntiForgeryToken()
        <table class="w-search">
            <tr>
                <td class="tdtitle">@InputPurchaseResource.CenterS</td>
                <td>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.CenterDropDownFor(
                                model => model.SearchConditions.CenterId
                                , Wms.Common.Profile.User.UserId
                                , "", new { @id = "ddlCenterId", tabindex = "1" })
                        </div>
                    </div>
                </td>
                <td class="tdtitle">@InputPurchaseResource.ArrivalStatusS</td>
                <td>
                    <div class="sort">
                        <div class="sort_inner">
                            @*入荷状況 入荷確定済と実績送信済は表示しない*@
                            @Html.DropDownListFor(
                                model => model.SearchConditions.ArrivalStatus,
                                (IEnumerable<SelectListItem>)ViewBag.ArriveStatusList,
                                CommonResource.None, new { id = "txtArrivalStatus", tabindex = "15" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="tdtitle">@InputPurchaseResource.ArrivePlanDateS</td>
                <td>
                    <div  class="sortarea">
                        <span class="date_input">
                            @Html.EditorFor(model => model.SearchConditions.ArrivePlanDateFrom, new { htmlAttributes = new { tabindex = "2", @placeholder = "", @class = "startDate flatpickr", @style = "height:30px;" } })
                            <span class="arrow">&nbsp;</span>
                        </span>
                        -
                        <span class="date_input">
                            @Html.EditorFor(model => model.SearchConditions.ArrivePlanDateTo, new { htmlAttributes = new { tabindex = "3", @placeholder = "", @class = "endDate flatpickr", @style = "height:30px;" } })
                            <span class="arrow">&nbsp;</span>
                        </span>
                    </div>
                    <div>
                        @Html.ValidationMessageFor(model => model.SearchConditions.ArrivePlanDateFrom, "", new { })
                        @Html.ValidationMessageFor(model => model.SearchConditions.ArrivePlanDateTo, "", new { })
                    </div>
                </td>
                <td class="tdtitle">@InputPurchaseResource.InvoiceNoS</td>
                <td>
                    @Html.EditorFor(model => model.SearchConditions.InvoiceNo, new { htmlAttributes = new { tabindex = "16" } })
                    @Html.LikeMark(CommonsResource.BeforeLike)
                </td>
            </tr>
            <tr>
                <td class="tdtitle">@InputPurchaseResource.DivisionS</td>
                <td>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.DropDownListFor(
                                model => model.SearchConditions.DivisionId,
                                (IEnumerable<SelectListItem>)ViewBag.DivisionList,
                                CommonResource.None, new { id = "ddlDivisionId", tabindex = "4" })
                        </div>
                    </div>
                </td>
                <td class="tdtitle">@InputPurchaseResource.PoIdS</td>
                <td>
                    @Html.EditorFor(model => model.SearchConditions.PoId, new { htmlAttributes = new { tabindex = "17" } })
                    @Html.LikeMark(CommonsResource.BeforeLike)
                </td>
            </tr>
            <tr>
                <td class="tdtitle">@InputPurchaseResource.BrandS</td>
                <td>
                    @Html.EditorFor(model => model.SearchConditions.BrandId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtBrandId", tabindex = "5" } })
                    @Html.EditorFor(model => model.SearchConditions.BrandName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtBrandName", tabindex = "6" } })
                    <div class="search">
                        <button type="button" id="btnBrand" class="search_btn" tabindex="7" />
                    </div>
                    @Html.LikeMark(CommonsResource.BeforeLike)
                </td>
                <td class="tdtitle">@InputPurchaseResource.ItemIdS</td>
                <td>
                    @Html.EditorFor(model => model.SearchConditions.ItemId, new { htmlAttributes = new { tabindex = "18" } })
                    @Html.LikeMark(CommonsResource.BeforeLike)
                </td>
            </tr>
            <tr>
                <td class="tdtitle">@InputPurchaseResource.VendorS</td>
                <td colspan="3">
                    @Html.EditorFor(model => model.SearchConditions.VendorId, new { htmlAttributes = new { @class = "w_6_short", @id = "txtVendorId", tabindex = "8" } })
                    @Html.EditorFor(model => model.SearchConditions.VendorName, new { htmlAttributes = new { @class = "w_18_normal", @id = "txtVendorName", tabindex = "9" } })
                    <div class="search">
                        <button type="button" id="btnVendor" class="search_btn" tabindex="10" />
                    </div>
                    @Html.LikeMark(CommonsResource.BeforeLike)
                </td>
            </tr>
            <tr>
                <td class="tdtitle">@InputPurchaseResource.CategoryS</td>
                <td colspan="3">
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.DropDownListFor(
                                model => model.SearchConditions.CategoryId1,
                                (IEnumerable<SelectListItem>)ViewBag.Category1List,
                                CommonResource.None, new { id = "ddlCategoryId1", tabindex = "11", onchange = "CategoryChange(1)" })
                        </div>
                    </div>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.DropDownListFor(
                                model => model.SearchConditions.CategoryId2,
                                (IEnumerable<SelectListItem>)ViewBag.Category2List,
                                CommonResource.None, new { id = "ddlCategoryId2", tabindex = "12", disabled = "disabled", onchange = "CategoryChange(2)" })
                        </div>
                    </div>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.DropDownListFor(
                                model => model.SearchConditions.CategoryId3,
                                (IEnumerable<SelectListItem>)ViewBag.Category3List,
                                CommonResource.None, new { id = "ddlCategoryId3", tabindex = "13", disabled = "disabled", onchange = "CategoryChange(3)" })
                        </div>
                    </div>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.DropDownListFor(
                                model => model.SearchConditions.CategoryId4,
                                (IEnumerable<SelectListItem>)ViewBag.Category4List,
                                CommonResource.None, new { id = "ddlCategoryId4", tabindex = "14", disabled = "disabled" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-right">
                    @Html.ActionLink(FormsResource.BTN_CLEAR, "Index", "InputPurchase", new { area = "Arrival" }, new { type = "button", @class = "btn btn-outline-dark" })
                    <button class="btn btn-outline-dark head-btn" id="btnSearch" onclick="Search();">@Share.Common.Resources.FormsResource.BTN_SEARCH</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="page" id="page" value="" />
        <input type="hidden" name="SearchConditions.Page" id="hidPage" value="@Model.SearchConditions.Page" />
        @Html.HiddenFor(model => model.SearchConditions.SortKey, new { id = "hidSortKey" })
        @Html.HiddenFor(model => model.SearchConditions.Sort, new { id = "hidSort" })
        <input type="hidden" name="SearchConditions.Seq" id="hidSeq" value='@Model.SearchConditions.Seq' />
        @Html.HiddenFor(model => model.SearchConditions.SearchType, new { id = "hidSearchType" })
    }
</div>

<div class="message-area">
    @Html.Partial("_InformationMessageContent", TempData[AppConst.SUCCESS] ?? "")
    @Html.Partial("_ErrorMessageContent", TempData[AppConst.ERROR] ?? "")
</div>

@if (Model.Results.InputPurchase01s != null && Model.Results.InputPurchase01s.Count() > 0)
{
    @* Sublbarea *@
    <div class="sublbarea no_border">
        <div class="sortarea mainpagearea">
            <ul>
                <li>
                    @FormsResource.DISPLAY_SHORT
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.EnumDropDownListFor(model => model.SearchConditions.SortKey, new { Name = "SearchConditions.SortKey", @id = "ddlSortKey", @onchange = "getSortData();" })
                        </div>
                    </div>
                </li>
                <li>
                    <div class="sort">
                        <div class="sort_inner">
                            @Html.EnumDropDownListFor(model => model.SearchConditions.Sort, new { Name = "SearchConditions.Sort", @id = "ddlSort", @onchange = "getSortData();" })
                        </div>
                    </div>
                </li>
                <li class="totalcount">
                    @String.Format(Share.Common.Resources.FormsResource.KENSU, Model.Results.InputPurchase01s.TotalItemCount.ToString("N0"))
                </li>
            </ul>
            @if (Model.Results.InputPurchase01s.Count() > 0)
            {
                @Html.PagedListPager(Model.Results.InputPurchase01s, Page => Url.Action("Search", "InputPurchase", new { Page, @class = "btn-outline-dark" }), PagerHelper.Default)
            }
        </div>
    </div>
    if (Model.Results.InputPurchase01s.Count() > 0)
    {
        <div class="sublbarea no_border stock_detail_head">
            <div class="sortarea">
                <ul>
                    <li>
                        @InputPurchaseResource.SkuQtySum @Html.DisplayFor(model => model.SearchConditions.ItemSkuQtySum)
                    </li>
                    <li>
                        @InputPurchaseResource.ArrivePlanQtySum @Html.DisplayFor(model => model.SearchConditions.ArrivePlanQtySum)
                    </li>
                    <li>
                        @InputPurchaseResource.ResultQtySum @Html.DisplayFor(model => model.SearchConditions.ResultQtySum)
                    </li>
                    <li>
                        @InputPurchaseResource.InvoicePlanQtySum @Html.DisplayFor(model => model.SearchConditions.InvoicePlanQtySum)
                    </li>
                    <li>
                        @InputPurchaseResource.InvoiceResultQtySum @Html.DisplayFor(model => model.SearchConditions.InvoiceResultQtySum)
                    </li>
                </ul>
            </div>
        </div>
    }

}
@if (Model.Results.InputPurchase01s != null)
{
    @* Container *@
    <div class="Container">

        @* Content *@
        @if (Model.Results.InputPurchase01s.Count() == 0)
        {
            <div>
                <p>@Share.Common.Resources.MessagesResource.MSG_NOT_FOUND</p>
            </div>
        }
        else
        {
            <div>
                <div class="tb_scroll" style="height:70vh;">
                    <table class="table table-bordered" id="listData">
                        <thead>
                            <tr>
                                <th class="bg-grey align-middle">&nbsp;</th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.No
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.ArrivePlanDate
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.Vendor
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.InvoiceNo
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.PoId
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.CategoryName1
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.Item
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.ItemSkuQty
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.PackingPlanQty
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.PackingResultQty
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.ArrivePlanQty
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.ResultQty
                                </th>
                                <th class="bg-grey align-middle">
                                    @InputPurchaseResource.ArrivalStatus
                                </th>
                                <th hidden>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @using (Html.BeginForm("Edit", "ItemSku", FormMethod.Post, new { id = "frmUpdate" }))
                            {
                                @Html.AntiForgeryToken()
                                foreach (var cModel in Model.Results.InputPurchase01s.Select((v, i) => new { v, i }))
                                {
                                    var key = String.Format("InputPurchase01s[{0}].", cModel.i);
                                    <tr>
                                        <td class="align-middle chk_cell">
                                            <label>
                                                <input type="radio" id=@(key + "CheckedValue") name="IsCheck" class="radio_input" onclick="SetIsCheck('@(key + "IsCheck")')" />
                                                <span class="radio_parts"></span>
                                            </label>
                                            @Html.CheckBox(key + "IsCheck", new { @id = (key + "IsCheck"), @class = "check-box", hidden = true })
                                        </td>
                                        <td class="align-middle text-right w_no">
                                            @((cModel.i + 1) + (Model.Results.InputPurchase01s.PageNumber - 1) * Model.Results.InputPurchase01s.PageSize)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.ArrivePlanDate)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.VendorId)<br />
                                            @Html.DisplayFor(modelItem => cModel.v.VendorName)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.InvoiceNo)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.PoId)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.CategoryName1)
                                        </td>
                                        <td class="align-middle">
                                            @Html.DisplayFor(modelItem => cModel.v.ItemId)<br />
                                            @Html.DisplayFor(modelItem => cModel.v.ItemName)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.ItemSkuQty)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.PackingPlanQty)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.PackingResultQty)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.ArrivePlanQty)
                                        </td>
                                        <td class="align-middle text-right">
                                            @Html.DisplayFor(modelItem => cModel.v.ResultQty)
                                        </td>
                                        <td class="align-middle" @((cModel.v.ArrivalStatus == "4" || cModel.v.ArrivalStatus == "5") ? "style=color:gray" : "")>
                                            @Html.DisplayFor(modelItem => cModel.v.ArrivalStatus)
                                            @if (!string.IsNullOrWhiteSpace(cModel.v.ArrivalStatusName))
                                            {
                                                <span>:</span> @Html.DisplayFor(modelItem => cModel.v.ArrivalStatusName)
                                            }
                                        </td>
                                        <td class="template" hidden>
                                            @Html.HiddenFor(modelItem => cModel.v.Seq, new { Name = key + "Seq" })
                                            @Html.HiddenFor(modelItem => cModel.v.LineNo, new { Name = key + "LineNo" })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div> }

@*Bottomnav*@
@section Basefooter{
    <div class="btnarea">
        <button type="button" id="btnInput" class="btn btn-dark btnsize _pm">@InputPurchaseResource.BtnInput</button>
    </div>
}
@Html.Partial("~/Areas/Master/Views/Shared/_BrandSearchModal.cshtml", "dialog")
@Html.Partial("~/Areas/Master/Views/Shared/_VendorSearchModal.cshtml")
@** スクリプト *@
@section LayoutScripts{
    <script>
    var InputPurchaseView = {

        /**
         * CONST Object
         */
        CONST: {
            FORM_METHOD: 'formmethod',
            FORM_ACTION: 'formaction',
            POST: 'post',
            FORM: 'form',
            METHOD: 'method',
            ACTION: 'action'
        },

        /**
         * SELECTORS Object
         */
        SELECTORS: {
            chkInTable: '#listData input[type=radio][id$=".CheckedValue"]',
            chkCheckedInTable: '#listData input[type=radio][id$=".CheckedValue"]:checked',
            chkInRow: 'input[type=radio][class=check-box]',
            tblRow: '#listData tbody tr',
            rowSelected: '#spnCheckedCounter',
            btnInput: '#btnInput',
            btnEdit: '#btnUpdate',
            ddlSortKey: '#ddlSortKey',
            chkChecked: ':radio:checked',
            chkLabel: '#listData span.chk_parts',
            form: 'form',
            searchForm: '#frmSearch',
            frmUpdate: 'frmUpdate',
            btnSubmit: 'button[type=submit],input[type=submit]',
            btnBrand: '#btnBrand',
            brandId:'#txtBrandId',
            brandName:'#txtBrandName',
            brandSelect: '#brandSelect',
            btnVendor:'#btnVendor',
            vendorId:'#txtVendorId',
            vendorName:'#txtVendorName',
            vendorSelect: '#vendorSelect',
        },

            /**
             * Init data
             */
            init: function () {
                this.registerEvent();
                this.setButtonStatus();
                brandSearchModal.init();
                vendorSearchModal.init();
            },

            /**
             * Register event for control
             */
            registerEvent: function () {

                /**
                 * Check box click
                 */
                $(InputPurchaseView.SELECTORS.chkInTable).click(function (evt) {
                    $(this).prop("checked", true);
                    evt.stopPropagation();
                    InputPurchaseView.setButtonStatus();
                });

                /**
                * Dropdownlist change item
                */
                $(InputPurchaseView.SELECTORS.ddlSort).change(function (val) {
                    $(InputPurchaseView.SELECTORS.btnSearch).click();
                });

                /**
                 * Dropdownlist change item
                 */
                $(InputPurchaseView.SELECTORS.ddlSortKey).change(function (val) {
                    $(InputPurchaseView.SELECTORS.btnSearch).click();
                });

                /**
                * ブランド検索ダイアログの設定
                */
                $(InputPurchaseView.SELECTORS.btnBrand).on("click", brandSearchModal.open);

                /**
                * 仕入先検索ダイアログの設定
                */
                $(InputPurchaseView.SELECTORS.btnVendor).on("click", vendorSearchModal.open);

                /**
                 *Click button get data Brand
                 */
                $(InputPurchaseView.SELECTORS.brandSelect).on("click", function () {
                    $('#brandSearchResult input[type=radio]:checked').each(function (index, item) {
                        var brandId = $(item).parents("tr").find("td:eq(2)").text().trim();
                        var brandName = $(item).parents("tr").find("td:eq(3)").text().trim();
                        $(InputPurchaseView.SELECTORS.brandId).val(brandId);
                        $(InputPurchaseView.SELECTORS.brandName).val(brandName);
                    })
                });

                /**
                 *Click button get data Vendor
                 */
                $(InputPurchaseView.SELECTORS.vendorSelect).on("click", function () {
                    $('#vendorSearchResult input[type=radio]:checked').each(function (index, item) {
                        var vendorId = $(item).parents("tr").find("td:eq(4)").text().trim();
                        var vendorName = $(item).parents("tr").find("td:eq(5)").text().trim();
                        $(InputPurchaseView.SELECTORS.vendorId).val(vendorId);
                        $(InputPurchaseView.SELECTORS.vendorName).val(vendorName);
                    })
                });
            },

            /**
             * Enable/Disable button Edit
             */
            setButtonStatus: function () {
                // Enable/Disable button Edit
                if ($(InputPurchaseView.SELECTORS.chkCheckedInTable).length >= 1) {
                    if (getUsable_Class() != 1) {
                        $(InputPurchaseView.SELECTORS.btnInput).removeAttr('disabled');
                    }
                } else {
                    $(InputPurchaseView.SELECTORS.btnInput).attr('disabled', 'disabled');
                }
            },
        }

    /**
    * Page loaded
    */
    $(document).ready(function () {
        InputPurchaseView.init();
        $("#ddlPackageSortKey").removeClass("input-validation-error");
        $("#ddlSortKey").removeClass("input-validation-error");
        if ($("#ddlCategoryId1").val() != '') {
            $("#ddlCategoryId2").removeAttr('disabled');
        }
        if ($("#ddlCategoryId2").val() != '') {
                $("#ddlCategoryId3").removeAttr('disabled');
        }
        if ($("#ddlCategoryId3").val() != '') {
                $("#ddlCategoryId4").removeAttr('disabled');
        }
            @* Pageを変更時 *@
            $(".mainpagearea .paging>li>a[href]").each(function (i, item) {
                var urlAction ='@Url.Action("Search", "InputPurchase", new { area= "Arrival" })';
                var pageUrl = urlAction + '?Page=';
                var page = $(item).attr("href").replace(pageUrl, "");
                page = page.replace("&class=btn-outline-dark", "");
                $(item).attr("href", "javascript:void(0);").click(function () {
                    $("#hidPage").val(page);
                    $("#hidSearchType").val("SortPage");
                    $("#frmSearch").submit();
                });
            });
    });
        // Sort
        function getSortData() {

            $("#hidSort").val($("#ddlSort").val());
            $("#hidSortKey").val($("#ddlSortKey").val());
            $("#hidSearchType").val("SortPage");

            var $form = $("#frmSearch");
            var urlAction ='@Url.Action("Search", "InputPurchase", new { area= "Arrival" })';
            $form.attr("action", urlAction);
            $form.attr("method", "POST");
            $form.submit();
        }
        function GetCategoryList(id) {
                    var urlAction = '@Url.Action("GetCategoryList","ItemSku",new { area = "Master"})';
                    $.ajax({
                        url: urlAction,
                        type: "POST",
                        data: {
                            id: id + 1,
                            category1: $("#ddlCategoryId1").val(),
                            category2: $("#ddlCategoryId2").val(),
                            category3: $("#ddlCategoryId3").val()
                        },
                        success: function (data) {
                            $("#ddlCategoryId" + (id + 1)).html("");
                            $("#ddlCategoryId" + (id + 1)).html(data.html);
                        }
                    });
        }
        function CategoryChange(id) {
            if ($("#ddlCategoryId" + id).val() != '') {
                GetCategoryList(id);
                $("#ddlCategoryId" + (id + 1)).removeAttr('disabled');
                if (id == 1) {
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 2){
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").val('');
                }
            } else {
                if (id == 1) {
                    $("#ddlCategoryId2").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId2").val('');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 2){
                    $("#ddlCategoryId3").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId3").val('');
                    $("#ddlCategoryId4").val('');
                }else if(id == 3){
                    $("#ddlCategoryId4").attr('disabled', 'disabled');
                    $("#ddlCategoryId4").val('');
                }
            }
        }
        function Search() {
                $("#hidSearchType").val("Search");
                var urlAction = '@Url.Action("Search", "InputPurchase", new { area = "Arrival" })';
                var $form = $("#frmSearch");
                $form.attr("action", urlAction);
                $form.attr("method", "POST");
                $form.submit();
            }
        $('#btnInput').on("click", function () {
                var urlAction ='@Url.Action("Input", "InputPurchase", new { area= "Arrival" })';
                var $form = $("#frmUpdate");
                $form.attr("action", urlAction);
                $form.attr("method", "POST");
                $form.submit();
        });
        function SetIsCheck(id) {
            $('#listData input[type=checkbox][id$=".IsCheck"]').prop("checked", false);
            $('#listData input[type=checkbox][id="' + id + '"]').prop("checked", true);
        }
    </script>
}